@charset "UTF-8";
/* CSS Document */

body{
	background-color: #8c8c8c;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
}

@font-face {
  /*フォントの名前*/
  font-family: 'マキナス 4 Square';
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://iamuu-n.github.io/Makinas-4-Square_subset.woff2") format("woff2"),
       url("https://iamuu-n.github.io/Makinas-4-Square_subset.woff") format("woff");
}
.mamelonClass{
  font-family: 'マキナス 4 Square', 'TA-方眼K500', '851ゴチカクット', 'sans-serif', 'Hiragino Sans GB W3';
}

a {
color:#006A8F;
text-decoration:underline; 
}

 .button1  {
    width:33vw;
    font-size:26px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#8c8c8c;
    background-color: #FCFBFC;
	border-radius:5px;
	margin-left:5px; 
	margin-top:5px;
	display:inline-block;/*コレ*/
}


 .button2  {
    width:29vw;
    font-size:26px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#8c8c8c;
    background-color: #FCFBFC;
	border-radius:5px;
	margin-left:5px;
	margin-top:5px;
	display:inline-block;/*コレ*/
}

 .button3  {
    width:24vw;
    font-size:26px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#8c8c8c;
    background-color: #FCFBFC;
	border-radius:5px;
	margin-left:5px;
	margin-top:5px;  
	display:inline-block;/*コレ*/
}

.button4  {
    width:24vw;
    font-size:26px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#8c8c8c;
    background-color: #FCFBFC;
	border-radius:5px;
	margin-left:5px;
	margin-top:5px;  
	display:inline-block;/*コレ*/
}

.button1, .button2, .button3,.button4 {
  float: left;
 }



.buttonR {
    width:400px;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:left;
    padding:0.5em ;
    color:#FCFBFC;
    background-color: #8c8c8c;
	border-radius:5px;
	border-color: #5CA7B3;
	margin-left:0px;
	margin-top:5vw; 
	display:inline-block;/*コレ*/
}


.buttonS {
    width:400px;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:left;
    padding:0.5em ;
    color:#FCFBFC;
    background-color: #8c8c8c;
	border-radius:5px;
	border-color: #5CA7B3;
	margin-left:0px;
	display:inline-block;/*コレ*/
}




.title{
    width:200px;
    font-size:65px;
	font-family: 'マキナス 4 Square', 'TA-方眼K500', '851ゴチカクット', 'sans-serif', 'Hiragino Sans GB W3';
	margin: 0px 0.2em 0px 0em ;
    white-space: nowrap;
}

.box0 {
	font-size:5em;
    font-weight:bold;
	font-family: 'マキナス 4 Square', 'TA-方眼K500', '851ゴチカクット', 'sans-serif', 'Hiragino Sans GB W3';
    padding: 0px 0px 0px 0px;
	padding-top: 0px;
    margin: 1em 0em 0.5em 0em ;
    color: #2c2c2f;
    background: #8c8c8c;/*背景色*/
	border-radius:5px;
	margin-top: 1.7em;
}
.box1 {
	font-size:1.3em;
    font-weight:bold;
    padding: 0.5em 1em;
    margin: 0em 0.2em 1.5em 0.2em ;
    color: #2c2c2f;
    background:#FCFBFC;/*背景色*/
	border-radius:5px;
}

.box2 {
	font-size:1.3em;
    padding: 0.8em 1em;
    margin: 0em 0.2em 1.5em 0.2em ;
    color: #2c2c2f;
    background:#FCFBFC;/*背景色*/
	border-radius:5px;
}

.box3 {
	font-size:1.3em;
    padding: 0.8em 1em;
    margin: 0em 0.2em 1.5em 0.2em ;
    color: #2c2c2f;
    background:#FCFBFC;/*背景色*/
	border-radius:5px;
}
.span

div#box0  {float: top;
  width:181px; 
  padding-bottom: 0px; 
  margin-top:2px; 
  margin-bottom:2px; 
  border:solid 1px #6699ff; }
div#box1  {float: top;
  width:181px; 
  padding-top: 0px; 
  margin-top:2px; 
  border:solid 1px #6699ff; 
  background-color: #ffffff; }
div#box2  {float: top;
  width:181px; 
  padding-top: 50px; 
  margin-top:5px; 
  border:solid 1px #6699ff; 
  background-color: #ffffff; }
div#box3  {float: top;
  width:181px; 
  padding-top: 50px; 
  margin-top:5px; 
  border:solid 1px #6699ff; 
  background-color: #ffffff; }

.movie-wrap	{
	position: relative;
	padding-bottom:  56.25%; /*アスペクト比 16:9の場合の縦幅*/
	height: 0;
	overflow: hidden;
}
.movie-wrap iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

/* 画面幅の50%の幅で画像を表示 */
.image-vw {
  width : 80vw ; 
}




<div class="img-wrapper"></div>

.img-wrapper {
  width: 100%;
  height: 100%;
  background-image: url(https://github.com/iamuu-n/iamuu-n.github.io/blob/main/img/top_image_1.gif#:~:text=top_image_1.-,gif,-Makinas%2D4%2DSquare_subset);
}


















@charset "utf-8";

/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
columns: 4;/*段組みの数*/
padding:0 15px;/*ギャラリー左右に余白をつける*/
}

.gallery li {
    margin-bottom: 20px;/*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img{
  width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
  .gallery{
  columns:3;
  } 
}

@media only screen and (max-width: 768px) {
  .gallery{
  columns: 2;
  } 
}


/*========= レイアウトのためのCSS ===============*/

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:30px 0;
}

p{
  margin:0 10px 10px 10px;
  word-wrap : break-word;
}

/*画像を出現させるアニメーションCSS*/

.flipLeft{
animation-name: flipLeft;
animation-duration:0.5s;
animation-fill-mode:forwards;
perspective-origin: left center;
opacity: 0;
}

@keyframes flipLeft{
  from {
   transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
  opacity: 0;
  }

  to {
  transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
  opacity: 1;
  }
}




















@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/

/*画像の横幅を100%にしてレスポンシブ化*/
img{
  width: 300%;
  height: auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*メイン画像下に余白をつける*/
.gallery{
  margin:0 0 5px 0;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
  z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*選択するサムネイル画像の設定*/

.choice-btn li{
  cursor: pointer;
  outline: none;
  background:#333;
}

.choice-btn li img{
  opacity: 0.4;/*選択されていないものは透過40%*/
}

.choice-btn li.slick-current img{
  opacity: 1;/*選択されているものは透過しない*/
}

/*========= レイアウトのためのCSS ===============*/
/*エリア全体を中央寄せ*/
.wrapper{
  width:94%;
  max-width:900px;
  margin:0 auto;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:30px 0;
}

p{
  margin:30px 0;
  word-wrap : break-word;
}





